a{
    text-decoration: none;
    color: black;
}

li{
    margin-right: 1%;
    border-color: black;
    margin-bottom: 1%;
}
a:hover{
    background-color: rgb(185, 184, 184);
}

.nav{
    padding-left: 1%;
}


