.form-group{
    display:flex;
  
}

.label{
    width: 35%;
}

.row{
    margin-left: 1%;
    margin-bottom: 10%;
}


.boton{
    justify-content: left;
    margin-left: 12%;
}

.mensaje{
    margin-left: 10%;
    width: 25%;
}