.card{
    font-weight: bold;
    margin:1%;
    display: block;
    border-color: black;
    text-align: center; 
}

.card-title{
   
    margin-bottom: 5%;
    margin-top: 10%;
}

.imagen{
    height: 55%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
}

img{
    height: auto;
    width: 100%;
    margin: 5%;
}

.row{
    margin-left: 1%;
    padding-bottom: 10%;
    
}