<div class="row">
<div class="card col-lg-2 col-md-2 container"  *ngFor="let item of lista">
    <div class="card-body">
        <div class="card-title">{{item.nombre}}</div>
       
        <div class="imagen">
            <img [src]=item.imagen class="img-fluid." alt="Responsive image">
        </div>    
          
        <div class="info">
            <p class="card-text infoautor">Autor: {{item.autor}}</p>
            <p class="card-text infopaginas">Páginas: {{item.paginas}}</p>
        </div>
            
           
    </div>
  </div>
</div>
